<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.location.gps"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/buddywalk_icons"
        android:label="@string/aplicacion"
        android:roundIcon="@mipmap/buddywalk_icons_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCA2krG7_Y4FRK3oJtNyhkwezHpmOuHjSs"/>

        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"/>
        <activity
            android:name=".SignInActivity"
            android:exported="true"/>
        <activity
            android:name=".OwnerHomeActivity"
            android:exported="true" />
        <activity
            android:name=".main.EditActivity"
            android:exported="true"/>
        <activity
            android:name=".walker.WalkerMenu"
            android:exported="true"/>
        <activity
            android:name=".walker.SendLocation"
            android:exported="true"/>
        <activity
            android:name=".walker.Message"
            android:exported="true"/>
        <activity
            android:name=".notifications.DoneNotifications"
            android:exported="true"/>
        <activity
            android:name=".notifications.NotificationPage"
            android:exported="true"/>
        <activity
            android:name=".notifications.PendingNotifications"
            android:exported="true"/>
        <activity
            android:name=".notifications.CurrentWalk"
            android:exported="true"/>

    </application>

</manifest>